[Unit]
Description=Home Assistant Service
Requires=docker.service
After=docker.service
BindsTo=docker.service

[Service]
WorkingDirectory=/opt/homeassistantserver/

Restart=always
ExecStart=/usr/bin/docker-compose -f docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f docker-compose.yml stop
Group=docker

[Install]
WantedBy=multi-user.target
